<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/plugins/editor.md/css/editormd.min.css">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/plugins/editor.md/editormd.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="editormd">
    <textarea style="display:none;">### Hello Editor.md !</textarea>
</div>



<script type="text/javascript">
    $(function() {
        var editor = editormd("editormd", {
            path : "../static/plugins/editor.md/lib/" // Autoload modules mode, codemirror, marked... dependents libs path
        });

        /*
        // or
        var editor = editormd({
            id   : "editormd",
            path : "../lib/"
        });
        */
    });
</script>

</body>
</html>