<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册页</title>
</head>
<body>
<form method="post" action="/register/">
    <div>
        <label for="username">用户名</label>
        <input type="text" name="username" id="username"/>
    </div>

    <div>
        <label for="password">密码</label>
        <input type="password" name="password" id="password" />
    </div>

    <div>
        <label for="email">邮箱</label>
         <input type="email" name="email" id="email"/>
    </div>

    <input type="submit" value="提交" />
</form>
</body>
</html>